<!DOCTYPE html>
<html>

<head>

    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">

    <title>Contact</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <nav>

        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>

    </nav>

    <div class="container">

        <h1>Contact Me</h1>

        {% if success %}

        <p class="success-message">
        Message Sent Successfully!
        </p>

        {% endif %}

        <form method="POST">

            <input type="text"
                   name="name"
                   placeholder="Your Name"
                   required>

            <input type="email"
                   name="email"
                   placeholder="Your Email"
                   required>

            <textarea name="message"
                      placeholder="Your Message"
                      required></textarea>

            <button type="submit">

                Send Message

            </button>

        </form>

    </div>

</body>
</html>