<!DOCTYPE html>
<html>

<head>

    <title>Edit User</title>

    <link rel="stylesheet"
          href="{{ url_for('static',
          filename='style.css') }}">

</head>

<body>

    <div class="container">

        <h1>Edit User</h1>

        <form method="POST">

            <input type="text"
                   name="username"
                   value="{{ user.username }}"
                   required>

            <select name="role">

                <option value="user"
                        {% if user.role == "user" %}
                        selected {% endif %}>

                    User

                </option>

                <option value="admin"
                        {% if user.role == "admin" %}
                        selected {% endif %}>

                    Admin

                </option>

            </select>

            <button type="submit">

                Update User

            </button>

        </form>

    </div>

</body>

</html>