<!DOCTYPE html>
<html>

<head>

    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">

    <title>Sherif Portfolio</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <nav>

        <div>

            <a href="/">Home</a>

            <a href="/projects">Projects</a>

            <a href="/contact">Contact</a>

            <a href="/messages">Messages</a>

        </div>


        <button onclick="toggleTheme()">

            Toggle Theme

        </button>

        {% if session.get("user") %}

            <span>

                 Welcome, {{ session["user"] }}

            </span>

            <a href="/logout">

                Logout

            </a>

        {% else %}

            <a href="/login">

                Login

            </a>

        {% endif %}

    </nav>

    <div class="profile">

    <img src="{{ url_for('static', filename='profile.jpg') }}"
         alt="Profile Picture">

    
    <h1>Sherif</h1>

    <h2>Python & Flask Developer</h2>

    <p>
        I build Python apps, GUI programs,
        and Flask web applications.
    </p>

    </div>

    <h1>Welcome to My Portfolio</h1>

    <p>I am learning Python and Flask web development.</p>

    <h2>My Projects</h2>

    <ul>
        <li>Guessing Game</li>
        <li>Calculator App</li>
        <li>Password Generator</li>
        <li>To-Do List App</li>
        <li>Weather App</li>
        <li>GUI Calculator</li>
    </ul>

    <script>

function toggleTheme() {

    document.body.classList.toggle("light-mode");
}

</script>

</body>

</html>