<!DOCTYPE html>
<html>

<head>

    <title>Sherif Portfolio</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <h1>Welcome to My Portfolio</h1>

    <p>I am learning Python and Flask web development.</p>

    <h2>My Projects</h2>

    <ul>
        <li>Guessing Game</li>
        <li>Calculator App</li>
        <li>Password Generator</li>
        <li>To-Do List App</li>
        <li>Weather App</li>
        <li>GUI Calculator</li>
    </ul>

</body>

</html>