<!DOCTYPE html>
<html>

<head>

    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">

    <title>Projects</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <nav>

        <a href="/">Home</a>

        <a href="/projects">Projects</a>

        <a href="/contact">Contact</a>

        <a href="/messages">Messages</a>

    </nav>


    <h1>My Projects</h1>


    <div class="projects-container">

        

        <div class="project-card">

            <img src="{{ url_for('static',
                filename='portfolio.png') }}">

            <h2>Portfolio</h2>

            <p>A Flask portfolio website.</p>


            <a href="https://pythonproject-uudh.onrender.com"
                target="_blank">

            <button>Live Demo</button>

            </a>


            <a href="https://github.com/paulsherifp9/pythonproject"
                target="_blank">

            <button>GitHub</button>

            </a>

        </div>

        <div class="project-card">

            <img src="{{ url_for('static',
                filename='calculator.png') }}">

            <h2>Calculator App</h2>

            <p>A calculator built with Pyyhon.</p>


            <a href="https://pythonproject-uudh.onrender.com"
                target="_blank">

            <button>Live Demo</button>

            </a>


            <a href="https://github.com/paulsherifp9/pythonproject"
                target="_blank">

            <button>GitHub</button>

            </a>

        </div>

        <div class="project-card">

            <img src="{{ url_for('static',
                filename='weather.png') }}">

            <h2>Weather App</h2>

            <p>A Flask weather application using APIs.</p>


            <a href="https://pythonproject-uudh.onrender.com"
                target="_blank">

            <button>Live Demo</button>

            </a>


            <a href="https://github.com/paulsherifp9/pythonproject"
                target="_blank">

            <button>GitHub</button>

            </a>

        </div>

        <div class="project-card">

            <img src="{{ url_for('static',
                filename='gui_calculator.png') }}">

            <h2>GUI Calculator</h2>

            <p>A desktop calculator using TKinter.</p>


            <a href="https://pythonproject-uudh.onrender.com"
                target="_blank">

            <button>Live Demo</button>

            </a>


            <a href="https://github.com/paulsherifp9/pythonproject"
                target="_blank">

            <button>GitHub</button>

            </a>

        </div>
    </div>

</body>

</html>