<!DOCTYPE html>
<html>

<head>

    <title>Projects</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <nav>

        <a href="/">Home</a>

        <a href="/projects">Projects</a>

        <a href="/contact">Contact</a>

    </nav>


    <h1>My Projects</h1>


    <div class="projects-container">

        <div class="project-card">

        <h2>Guessing Game</h2>

        <p>A Python number guessing game.</p>

        <a href="https://github.com/paulsherifp9/pythonproject"
       target="_blank">

        <button>View Project</button>

        </a>

        </div>

        <div class="project-card">
            <h2>Calculator App</h2>
            <p>A calculator built with Python.</p>
        </div>

        <div class="project-card">
            <h2>Weather App</h2>
            <p>A Flask weather application using APIs.</p>
        </div>

        <div class="project-card">
            <h2>GUI Calculator</h2>
            <p>A desktop calculator using Tkinter.</p>
        </div>

    </div>

</body>

</html>